body { background-color: transparent; overflow: hidden; font-family: Lucida Grande, Arial, Helvetica; line-height: 150%; font-size: 14px; margin-top: 60px; }
body.smaller { overflow: hidden; font-family: Lucida Grande, Arial, Helvetica; line-height: 150%; font-size: 12px; margin-top: 60px; }

input,textarea { font-family: Lucida Grande, Arial, Helvetica; font-size: 12px; }

p { text-align: center; }
b { color: #5a8f26; font-weight: normal; }

li { line-height: 160%; margin-bottom: 3px; }

body table { margin-left: 130px; margin-right: 130px; padding: 0px; spacing: 0px; font-size: 100%; line-height: 160%; height: 315px; }
body table.nomargin { margin: 0px; padding: 0px; spacing: 0px; font-size: 100%; line-height: 160%; height: 315px; }
body table.nomargin p { margin-left: 10px; margin-right: 10px; }

table.results { margin: 20px auto; text-align: center; font-size: 120%; font-weight: bold; height: auto; }
table.results td { text-align: center; width: 90px; }

td.illustration { font-size: 10px; color: #7f7f7f; line-height: 140%; }

tr,td { vertical-align: middle; }

a { color: #0e3679; text-decoration: none; border-bottom: dotted #3f78ab 1px; }
a:visited { color: #3f78ab; text-decoration: none; border-bottom: dotted #4b90cd 1px; }
a.nounderline { border: 0px; }

span.arrow { color: #a62c2c; }

img { border: 0px; }
img.border { border: white 1px solid; }

span.balldesc { text-align: center; font-size: 10px; color: #7f7f7f; -khtml-user-drag:none; }

#thanks { width: 100%; height: 100px; padding-top: 40px; font: 22px bold sans-serif; }
#re-save { margin: 50px auto; width: 150px; display: block; height: 50px; }